.project-box {
    border: 1px solid var(--color-gray-300);
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 30px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.project-figure {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-details {
    flex: 1 1 300px;
    min-width: 100px;
}

.project-description {
    font-style: italic;
    color: var(--color-gray-700);
    margin-bottom: 18px;
}

/* todo: project-img class already exists => replace its content with project-illustration's */
.project-illustration {
    font-style: italic;
    margin-bottom: 6px;
    width: 100%;
    padding: 0 20px;
}

/* todo: project-title class already exists => replace its content with project-name's */
.project-name {
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: 8px;
}

.project-illustration-caption {
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
    padding: 4px;
    font-size: 14px;
    max-width: 400px;
}

.project-link {
    display: inline;
    color: var(--color-gray-600);
    font-weight: 500;
    margin-left: 2px;
    font-size: 0.85em;
    font-family: "JetBrains Mono", monospace;
}
